* {
    box-sizing: border-box;
}


.App {
  text-align: center;
}

/* set background color and default font color */
body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    background: #1A1B21;
    color: aliceblue;
    min-height:100%;
    position:relative;
}
/* make the image to align at center */
.header--picture{
    display: block;
    margin-top: 3.25%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10px;
}

/* style for name */
.header--name{
    padding-top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
   
    color: #FFFFFF;    
}

/* style for profession */
.header--profession{
    padding-top: -6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 540;
    font-size: 14px;
    line-height: 15px;
    text-align: center;

    color: #F3BF99;
}

/* parent element for contacts using flex to get email div and linkedin div side by side */
nav {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-top: 15px;
}

/* get email icon and text side by side using another div and style them */
.emailDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    /* padding: 9px 13px 9px 11px; */
    gap: 8px;

    background: #FFFFFF;
    /* gray/300 */

    border: 1px solid #D1D5DB;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    }

/* get linkedin icon and text side by side using another div and style them */
.linkedinDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    margin-left: 5%;
    gap: 8px;

    background: #5093E2;
    /* shadow/sm */
    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

/* decrease size of email icon */
.email--icon{
    width: 13%;
}

/* remove highlight link colors and assign respective colors to links */
.email{
    color: #374151;
    text-decoration: none;
}
.linkedin{
    color: #FFFFFF;
    text-decoration: none;
}


main {
    padding:10px;
    padding-bottom:115px;   /* Height of the footer */
    justify-content: center;
 }
/* Make the footer sticky */
footer{
    background-color: #161619;
    /* Make the footer sticky */
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* style copyright paragraph */
    text-align: center;
    font-size: 11.5px;
}

.socials{
    /* make the 2 icons appear in a row using flex */
    display: flex;
    font-family: 'Inter';
    justify-content: center;
}

/* change opacity of icons when hovered seperately(not .socials:icon as that would make both icons change opacity when one icon is hovered) */
.github--icon:hover,.instagram--icon:hover {
    opacity: 0.7;

}

/* set the icons */
.github--icon{
    background-size: 25%;
    width: 160px;
    height:50px;
    display:block;
    background-image: url(./components/images/GithubIcon.png);
    background-repeat: no-repeat;
    /* padding-bottom: 10%; */
    background-position: bottom -0.5px left 0px;

}

.instagram--icon{
    width: 50px;
    height:50px;
    display:block;    
    background-image: url(./components/images/InstagramIcon.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom -0.5px left 0px;

}
